.classpath
.project
*.groovy~
*.class
*.launch
*.tmp
*.tmproj
.settings
stacktrace.log
devDB.log
devDB.properties
devDB.script
prodDb.lck
prodDb.log
prodDb.properties
prodDb.script
*.pyc
web-app/build
*.js~
